<table id="customers">
  <thead>
    <th>Id</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let medicationPlan of medicationPlans; let id = index">
      <td>{{medicationPlan.id}}</td>
      <td>
        <span (blur)="changeValue(id, 'startDate', $event)" contenteditable="true">{{medicationPlan.startDate}}</span>
      </td>
      <td>
        <span (blur)="changeValue(id, 'endDate', $event)" contenteditable="true">{{medicationPlan.endDate}}</span>
      </td>
      <td>
        <button (click)="onSave(medicationPlan)">Save</button>
        <button (click)="onRemove(medicationPlan)">Remove</button>
        <button (click)="showDrugs(medicationPlan.id)" >Show Drugs</button>
        <button (click)="addDrugs(medicationPlan.id)">Add Drugs</button>
      </td>
    </tr>
  </tbody>

</table>
<router-outlet></router-outlet>
