<div>
  <form>
    <label for="fname">Add Patient Username</label>
    <input [(ngModel)]="patient" type="text" id="fname" name="patient" placeholder="Patient...">

    <label for="Password">To Caregiver Username</label>
    <input [(ngModel)]="caregiver" type="text" id="Password" name="caregiver" placeholder="Caregiver...">

    <input (click)="addPatientToCaregiver()" type="submit" value="Submit">
  </form>
</div>
