<h1>Account Information - Patient</h1>

<div>
  <tr><th>Username:</th><td>{{patient.username}}</td></tr>
  <tr><th>Password:</th><td>******</td></tr>
  <tr><th>Name:</th><td>{{patient.name}}</td></tr>
  <tr><th>Address:</th><td>{{patient.address}}</td></tr>
  <tr><th>Birthday:</th><td>{{patient.birthDate}}</td></tr>
  <tr><th>Gender:</th><td>{{patient.gender}}</td></tr>
</div>
