#last{
  float:right;
}

#table {
  transform:rotate(90deg);
}
#table th, #table td{
  transform:rotate(-90deg);
}

th{
  font-size:40px;
  padding-top:40px;
}
td {
  font-size:40px;
padding-right:20px;
}

div{
  margin-top:40px;
  margin-left:620px;
}

h1{
  text-align: center;
  text-decoration: underline;
}

