<div>
  <form>
    <label for="patientUsername">Patient Username</label>
    <input [(ngModel)]="patientUsername" type="text" id="patientUsername" name="patientUsername" placeholder="Patient Username...">

    <label for="startdate">StartDate</label>
    <input [(ngModel)]="startDate" type="date" id="startdate" name="startday">

    <label for="enddate">EndDate</label>
    <input [(ngModel)]="endDate" type="date" id="enddate" name="endday">

    <input (click)="addMedicationPlan()" type="submit" value="Submit">
  </form>
</div>
