<table id="customers">
  <thead>
    <th>Id</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let medicationPlan of medicationPlans; let id = index">
      <td>{{medicationPlan.id}}</td>
      <td>
        {{medicationPlan.startDate}}
      </td>
      <td>
       {{medicationPlan.endDate}}
      </td>
      <td>
        <button (click)="showDrugs()">Show Drugs</button>
        <app-show-drugs-plan *ngIf="show" [medicalPlanId]="medicationPlan.id"></app-show-drugs-plan>
      </td>
    </tr>
  </tbody>

</table>
