<table id="customers">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Intake Start Time</th>
    <th>Intake End Time</th>
    <th>Dosage</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let drug of drugs; let id = index">
      <td>{{drug.id}}</td>
      <td>
          <span (blur)="changeValue(id, 'name', $event)" contenteditable="true">{{drug.name}}</span>
        </td>
      <td>
        <span (blur)="changeValue(id, 'intakeStartTime', $event)" contenteditable="true">{{drug.intakeStartTime}}</span>
      </td>
      <td>
        <span (blur)="changeValue(id, 'intakeEndTime', $event)" contenteditable="true">{{drug.intakeEndTime}}</span>
      </td>
      <td>
        <span (blur)="changeValue(id, 'dosage', $event)" contenteditable="true">{{drug.dosage}}</span>
      </td>
      <td>
        <button (click)="onSave()">Save</button>
        <button (click)="onRemove(id)">Remove</button>
      </td>
    </tr>
  </tbody>

</table>
