<div class="topnav">
  <a id="last" (click)="signOut()">Sign out</a>
</div>

<router-outlet></router-outlet>

<table id="customers">
  <thead>
    <th>Username</th>
    <th>Password</th>
    <th>Name</th>
    <th>Address</th>
    <th>Gender</th>
    <th>Birth Date</th>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients; let id = index">
      <td>{{patient.username}}</td>
      <td>******</td>
      <td>{{patient.name}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.gender}}</td>
      <td>{{patient.birthDate}}</td>
    </tr>
  </tbody>
</table>



