<div>
  <form>
    <label for="fname">Delete Patient Username</label>
    <input [(ngModel)]="patient" type="text" id="fname" name="patient" placeholder="Patient...">

    <label for="Password">From Caregiver Username</label>
    <input [(ngModel)]="caregiver" type="text" id="Password" name="caregiver" placeholder="Caregiver...">

    <input (click)="deletePatientToCaregiver()" type="submit" value="Submit">
  </form>
</div>
