form{
    width:100%;
  }

  label{
    color:white;
    font-size:20px;
  }

  input[type=text],
  input[type=password],
  input[type=date],select {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
  }


  input[type=submit] {
    width:100%;
    background-color: #01B2FE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }



  div {
    border-radius: 5px;
    background-color: #333;
    padding: 20px;
    width:40%;
    margin: 50px auto;
  }
