
<table id="customers">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Intake Start Time</th>
    <th>Intake End Time</th>
    <th>Dosage</th>

  </thead>
  <tbody>
    <tr *ngFor="let drug of drugs; let id = index">
      <td>{{drug.id}}</td>
      <td>
          {{drug.name}}
        </td>
      <td>
        {{drug.intakeStartTime}}
      </td>
      <td>
       {{drug.intakeEndTime}}
      </td>
      <td>
        {{drug.dosage}}
      </td>
    </tr>
  </tbody>

</table>
