
<table id="customers">
  <thead>
    <th>Username</th>
    <th>Password</th>
    <th>Name</th>
    <th>Address</th>
    <th>Gender</th>
    <th>Birth Date</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients; let id = index">
      <td>{{patient.username}}</td>
      <td>******</td>
      <td>
        <span (blur)="changeValue(id, 'name', $event)" contenteditable="true">{{patient.name}}</span>
      </td>
      <td>
        <span (blur)="changeValue(id, 'address', $event)" contenteditable="true">{{patient.address}}</span>
      </td>
      <td>
        <span (blur)="changeValue(id, 'gender', $event)" contenteditable="true">{{patient.gender}}</span>
      </td>
      <td>
        <span (blur)="changeValue(id, 'birthDate', $event)" contenteditable="true">{{patient.birthDate}}</span>
      </td>
      <td>
        <button (click)="onSave(patient)">Save</button>
        <button (click)="onRemove(patient)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>

