<div>
    <form>
      <label for="patientUsername">Name</label>
      <input [(ngModel)]="name" type="text" id="patientUsername" name="patientUsername" placeholder="Name...">

      <label for="startdate">Intake Start Time</label>
      <input [(ngModel)]="intakeStartTime" type="time" id="startdate" name="startday">

      <label for="enddate">Intake End Time</label>
      <input [(ngModel)]="intakeEndTime" type="time" id="enddate" name="endday">

      <label for="dosage">Dosage</label>
      <input [(ngModel)]="dosage" type="number" id="dosage" name="patientUsername" placeholder="Dosage...">

      <input (click)="addDrug()" type="submit" value="Submit">
    </form>
  </div>
