<div>
  <button (click)="addCaregiver()">Add Caregiver</button>
  <button (click)="modifyCaregiver()">View Caregivers</button>
  <button (click)="addPatient()">Add Patient To Caregiver</button>
  <button (click)="deletePatient()">Delete Patient From Caregiver</button>
</div>

<router-outlet></router-outlet>
