<div>
  <form>
    <label for="fname">Username</label>
    <input [(ngModel)]="username" type="text" id="fname" name="firstname" placeholder="Username...">

    <label for="Password">Password</label>
    <input [(ngModel)]="password" type="password" id="Password" name="Password" placeholder="Password...">

    <label for="lname">Name</label>
    <input [(ngModel)]="name" type="text" id="lname" name="lastname" placeholder="The name...">

    <label for="adress">Address</label>
    <input [(ngModel)]="address" type="text" id="adress" name="adress" placeholder="Adress...">

    <label for="gender">Gender</label>
    <select [(ngModel)]="gender" id="gender" name="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

    <label for="date">BirthDate</label>
    <input [(ngModel)]="birthDate" type="date" id="date" name="bday">

    <label for="domain">Domain</label>
    <input [(ngModel)]="domain" type="text" id="domain" name="domain" placeholder="Domain...">

    <input (click)="addDoctor()" type="submit" value="Submit">
  </form>
</div>
