<form action="forms.html" method="post">
  <div>
    <h1>Sign In</h1>
    <h2>-Welcome-</h2>
  </div>

    <fieldset>


        <label for="name"> <span class="number">1</span> Name:</label>
        <input [(ngModel)]="username" type="text" id="name" name="user_id">

        <label for="password"><span class="number">2</span>Password:</label>
        <input [(ngModel)]="password" type="password" id="password" name="user_password">


    </fieldset>



    <button (click)="login(username,password)" type="button" >Sign Up</button>
  </form>

