

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {

  max-width: 300px;
  margin: 40px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  margin-bottom: 300px;
  margin-top: 100px;
}

h1 {
  margin: 15px;
  text-align: center;
  font-size:50px;
}

h2{
  text-align: center;
  font-size:25px;
}

div{
  margin:60px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  font-size:30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #007bff;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #007bff;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size:25px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color:  #007bff;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.alert{
  width: 440px;
  height: 50px;
  background-color: red;
  color: white;
  text-align: center;
  padding-top:12px;
  font-size:25px;
  border-radius: 8px;
  margin-top:20px;
  font-family: 'Bitter', serif;
}

.redBorder{
  border-color: red;
  border-width: 30px !important;
}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
