
<table id="customers">
    <thead>
      <th>Username</th>
      <th>Password</th>
      <th>Name</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Birth Date</th>
      <th>Domain</th>
      <th>Options</th>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors; let id = index">
        <td>{{doctor.username}}</td>
        <td>******</td>
        <td>
          <span (blur)="changeValue(id, 'name', $event)" contenteditable="true">{{doctor.name}}</span>
        </td>
        <td>
          <span (blur)="changeValue(id, 'address', $event)" contenteditable="true">{{doctor.address}}</span>
        </td>
        <td>
          <span (blur)="changeValue(id, 'gender', $event)" contenteditable="true">{{doctor.gender}}</span>
        </td>
        <td>
          <span (blur)="changeValue(id, 'birthDate', $event)" contenteditable="true">{{doctor.birthDate}}</span>
        </td>
        <td>
          <span (blur)="changeValue(id, 'domain', $event)" contenteditable="true">{{doctor.domain}}</span>
        </td>
        <td>
          <button (click)="onSave(doctor)">Save</button>
          <button (click)="onRemove(doctor)">Remove</button>
        </td>
      </tr>
    </tbody>
</table>
