<div class="topnav">
  <a (click)="viewAccount()">View Account</a>
  <a (click)="viewMedicalPlan()">View Medical Plan</a>

  <a id="last" (click)="signOut()">Sign out</a>
</div>
<router-outlet></router-outlet>


  


