<table id="customers">
  <thead>
    <th>Username</th>
    <th>Password</th>
    <th>Name</th>
    <th>Address</th>
    <th>Gender</th>
    <th>Birth Date</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let caregiver of caregivers; let id = index">
      <td>{{caregiver.username}}</td>
      <td>********</td>
      <td>
        <span (blur)="changeValue(id, 'name', $event)" contenteditable="true">{{caregiver.name}}</span>
      </td>
      <td>
        <span (blur)="changeValue(id, 'address', $event)" contenteditable="true">{{caregiver.address}}</span>
      </td>
      <td>
        <span (blur)="changeValue(id, 'gender', $event)" contenteditable="true">{{caregiver.gender}}</span>
      </td>
      <td>
        <span (blur)="changeValue(id, 'birthDate', $event)" contenteditable="true">{{caregiver.birthDate}}</span>
      </td>

      <td>
        <button (click)="onSave(caregiver)">Save</button>
        <button (click)="onRemove(caregiver)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
