#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 13px;
  text-align:center;
}

th{
  padding-right: 40px;
  height: 30px;
  font-size: 20px;
}

#customers {background-color: #f2f2f2;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #333;
  color: white;
}

table{
  margin-top:30px;
}

button{
  width:25%;
  height:35px;
  margin:5px;
}
