
<div class="topnav">
  <a (click)="updateDoctors()">Doctor</a>
  <a (click)="updateCaregivers()"> Caregiver</a>
  <a (click)="updatePatient()">Patient</a>
  <a (click)="updateMedicalPlan()">Medication Plans</a>
  <a id="last" (click)="signOut()">Sign out</a>
</div>

<router-outlet></router-outlet>


